/* esto es de diego*/
:root{
  --color-maximun-red:#d62828;
  --btn-danger-color: var(--color-maximun-red);
  
  --color-prussian-blue: #023047;
  --btn-color: var(--color-prussian-blue);
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
